<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

<!-- Search Engines -->
    <meta name="google-site-verification" content="vVe4ixDeFH2FgdybV6Kgr7Ty6Axk8CppxtImruAp7oY" />
    <meta name="msvalidate.01" content="5549E617C44103B6DE4BCDE3AF8CCA1C" />
    <meta name="yandex-verification" content="18f739fd8f68942b" />
    <meta name='impact-site-verification' value='50a9cd33-b3e1-435a-af3b-f2f3f7140a6b'>
    <meta name="seznam-wmt" content="ppOOZqPkbHR914Kc7EYaCoB3bPQqauT6" />
 
    {% if page.url == "/Shopify-Theme-Detector" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endif %}

    <!-- Google Analytics -->
    <script  src="https://www.googletagmanager.com/gtag/js?id=G-0CFQBDFSDS" defer></script>
    <script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-0CFQBDFSDS');
    </script>

    <!-- Microsoft Clarity -->
    <script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "pt5sknz7ve");</script>
    
    <!-- Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2784742237479601"
        crossorigin="anonymous"></script>
    <!-- start webpushr code --> 
    <script defer>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.async=1;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('setup',{'key':'BCcKLfXLd9UZJiWw_I0TBDJfhCpaTZ28UfO5yjAYeb9cOU6LnHvHWUjzmq3ulrhTpCNYg94fc75Z4QArZ506mbM' });</script>
    <!-- end webpushr code -->


  <style>
  {% capture include_to_scssify %}
  {% if site.blog-theme == "light" %}
    {% include color-scheme/scheme-light.scss %}
    {% include main.scss %}
  {% elsif site.blog-theme == "dark" %}
    {% include color-scheme/scheme-dark.scss %}
    {% include main.scss %}
  {% else %}
    {% include color-scheme/scheme-light.scss %}
    {% include main.scss %}
  {% endif %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>