<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {% include header.html %}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
    </main>
    <!-- end content -->
  
    {% include footer.html %}
  </div>
  <!-- end global wrap -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script>
    var base_url = "",
      pagination_next_url = base_url + '/page2',
      pagination_next_page_number = '{{ paginator.next_page }}',
      pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <div class="gtranslate_wrapper"></div>
  <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper"}</script>
  <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

  <!-- Bot Detection -->
<script>
  // Initialize the agent on page load.
  const fpPromise = import('https://fpjscdn.net/v3/piJr4xhOOfCxkyMC6Ci7')
    .then(FingerprintJS => FingerprintJS.load())

  // Get the visitorId when you need it.
  fpPromise
    .then(fp => fp.get())
    .then(result => {
      const visitorId = result.visitorId
      console.log(visitorId)
    })
</script>

  
</body>

</html>