---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  <div class="google-ads">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2784742237479601"
      crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-2784742237479601"
      data-ad-slot="1588459238"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'grid' %}
<div class="entries-{{ entries_layout }} home-posts">
  {% if entries_layout == "grid" %}<div class="grid__wrapper">{% endif %}
    {% include documents-collection.html entries=posts type=entries_layout %}
  {% if entries_layout == "grid" %}</div>{% endif %}
</div>

{% include paginator.html %}
