---
layout: default
---

<div class="container">
<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>
<div class="page-content">
{{ content }}

<hr>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2784742237479601"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-2784742237479601"
        data-ad-slot="7158828305"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<!-- Comments -->
{% if page.comments == true %}
{% include comments.html %}
{% endif %}
</div>
</div>