---
layout: default
---

{% include hero.html %}

<!-- begin post -->
<div class="container content-section">
	<div class="side-bar-left-ads" bis_skin_checked="1">
		<!-- Verticle Ads Sidebar -->
		<ins class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-2784742237479601"
		data-ad-slot="3326963965"
		data-ad-format="auto"
		data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
  <div class="side-bar-right-ads">
	<!-- Verticle Ads Sidebar -->
	<ins class="adsbygoogle"
	style="display:block"
	data-ad-client="ca-pub-2784742237479601"
	data-ad-slot="3326963965"
	data-ad-format="auto"
	data-full-width-responsive="true"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
  </div>
  <article class="post animate">

    <div class="post__content">
      {{ content }}
    </div>

    {% include share.html %}

    {% include post-navigation.html %}

    	<hr>

			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2784742237479601"
				crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
				style="display:block"
				data-ad-format="autorelaxed"
				data-ad-client="ca-pub-2784742237479601"
				data-ad-slot="7158828305"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>

    	<p class="Check-Related-Article"><strong>Check Related Article</strong></p>
            <!--Related Article -->
			<ul>
			{% for category in site.categories %}
				<!-- <li><a name="{{ category | first }}">{{ category | first }}</a> -->
				{% assign categ = category | first %}
					{% for eachcateg in page.categories %}
						{% if eachcateg == categ and forloop.first %}
							{% for post in category.last %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</li>
			{% endfor %}
			</ul>

    {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}

  </article>
</div>
<!-- end post -->